<ul>
  <li>
    Name: <%= each_student.name %>
  </li>
  <li>
    Birthday: <%= each_student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= each_student.hometown.capitalize %>
  </li>
</ul>
